.header .brand-logo {
  width: 35px;
  height: 35px;
}
.add-link-container {
  float: right;
}
.add-customer {
  color: #fff;
}
@media only screen and (min-width: 600px) {
  .header .brand-logo {
    width: 40px;
    height: 40px;
  }
}
